CMakeCache.txt
CMakeFiles
Makefile
/Testing/
/.idea/
/cmake-build-debug/
/cmake-build-release/
cmake_install.cmake
git_version.h
web_resources.h
workspace.xml
.ninja_deps
.ninja_log
datum_gateway
*.conf
*.json
!doc/example_datum_gateway_config.json
.DS_Store
*.orig
*.rej
*~
